<fieldset>
  <div class="panel panel-primary">
    <div class="panel-heading title"><h2>Cargos</h2></div>

    <div class="panel-body">
      <div class="col-12 me-auto mb-2 mb-lg-0">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addCargo" type="submit" (click)="novo()" >Novo</button>
      </div>
      <div class="form-group">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Descrição</th>
              <th scope="col">Atividade</th>              
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cargo of cargoList">
              <td>{{cargo.id}}</td>
              <td>{{cargo.descricao}}</td>
              <td>{{cargo.atividade}}</td>                          
              <td>
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editCargo" (click)="editar(cargo)">Editar</button>
                <button type="button" class="btn btn-outline-danger" (click)="deletar(cargo)">Excluir</button>
              </td>
            </tr>    
          </tbody>
        </table>
      </div>
      

      <!-- Add Modal -->
      <div class="modal fade" id="addCargo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Adicionar Cargo</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                        
              <form [formGroup]="cargoDetalhe">
                <div class="mb-3">
                  <label for="descricao" class="form-label">Descrição</label>
                  <input type="text" formControlName="descricao" class="form-control" id="descricao" aria-describedby="emailHelp" maxlength="100" required="requerid">            
                </div>
                <div class="mb-3">
                  <label for="atividade" class="form-label">Atividade</label>                
                  <textarea id="atividade" name="atividade" formControlName="atividade" class="form-control" type="text" aria-describedby="emailHelp" maxlength="1000" requerid="required"></textarea>
                </div>
                
                <div class="mb-3 form-check">
                  <input type="checkbox" formControlName="ativo" class="form-check-input" id="ativo">
                  <label class="form-check-label" for="ativo">Ativo</label>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-outline-success" (click)="adicionar()" data-bs-dismiss="modal">Salvar</button>
                </div>

              </form>

            </div>
            
          </div>
        </div>
      </div>

  
      <!-- Edit Modal -->
      <div class="modal fade" id="editCargo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Editar Cargo</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <form [formGroup]="cargoDetalhe">

                <div class="mb-3">
                  <label for="descricao" class="form-label">Descrição</label>
                  <input type="text" formControlName="descricao" class="form-control" id="descricao" aria-describedby="emailHelp">            
                </div>

                <div class="mb-3">
                  <label for="atividade" class="form-label">Atividade</label>                
                  <textarea id="atividade" name="atividade" formControlName="atividade" class="form-control" type="text" aria-describedby="emailHelp"></textarea>
                </div>
                
                <div class="mb-3 form-check">
                  <input type="checkbox" formControlName="ativo" class="form-check-input" id="ativo">
                  <label class="form-check-label" for="ativo">Ativo</label>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-outline-success" (click)="atualizar()" data-bs-dismiss="modal">Salvar</button>
                </div>

              </form>

            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>