<div class="form_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form class="form_horizontal" [formGroup]="loginDetalhe">
                    <div class="form_icon"><i class="fa fa-user-circle"></i></div>
                    <h3 class="title">Login</h3>
                    
                    <div class="form-group">
                        <span class="input-icon"><i class="fa fa-user"></i></span>
                        <input formControlName="loginUser" class="form-control" id="loginUser" type="text" placeholder="Usuário">
                    </div>

                    <div class="form-group">
                        <span class="input-icon"><i class="fa fa-lock"></i></span>
                        <input formControlName="senha" class="form-control" id="senha" type="password" placeholder="Senha">
                    </div>

                    <button class="btn sigin" (click)="doLogin()">Entrar</button>

                </form>
            </div>
        </div>
    </div>
</div>