<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Setores</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">          
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addSetor" type="submit">Novo</button>
          </div>
        </div>
      </nav>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Atividade</th>
            <th scope="col">Ativo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let setor of setorList">
            <td>{{setor.id}}</td>
            <td>{{setor.descricao}}</td>
            <td>{{setor.atividade}}</td>            
            <td>
              <input type="checkbox" checked="{{setor.ativo}}" formControlName="ativo" class="form-check-input" id="ativo">
            </td>
            <td>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editSetor" (click)="editar(setor)">Editar</button>
              <button type="button" class="btn btn-outline-danger" (click)="deletar(setor)">Excluir</button>
            </td>
          </tr>    
        </tbody>
      </table>

    <!-- Add Modal -->
    <div class="modal fade" id="addSetor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Adicionar Setor</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form [formGroup]="setorDetalhe">
              <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input type="text" formControlName="descricao" class="form-control" id="descricao" aria-describedby="emailHelp">            
              </div>
              <div class="mb-3">
                <label for="atividade" class="form-label">Atividade</label>                
                <textarea id="atividade" name="atividade" formControlName="atividade" class="form-control" type="text" aria-describedby="emailHelp"></textarea>
              </div>
              
              <div class="mb-3 form-check">
                <input type="checkbox" formControlName="ativo" class="form-check-input" id="ativo">
                <label class="form-check-label" for="ativo">Ativo</label>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-outline-success" (click)="adicionar()" data-bs-dismiss="modal">Salvar</button>
              </div>

            </form>

          </div>
          
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editSetor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Editar Setor</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form [formGroup]="setorDetalhe">

              <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input type="text" formControlName="descricao" class="form-control" id="descricao" aria-describedby="emailHelp">            
              </div>

              <div class="mb-3">
                <label for="atividade" class="form-label">Atividade</label>                
                <textarea id="atividade" name="atividade" formControlName="atividade" class="form-control" type="text" aria-describedby="emailHelp"></textarea>
              </div>
              
              <div class="mb-3 form-check">
                <input type="checkbox" formControlName="ativo" class="form-check-input" id="ativo">
                <label class="form-check-label" for="ativo">Ativo</label>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-out-line-success" (click)="atualizar()" data-bs-dismiss="modal">Salvar</button>
              </div>

            </form>

          </div>
          
        </div>
      </div>
    </div>
</div>