<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Colaboradores</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">          
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addColaborador" type="submit">Novo</button>
          </div>
        </div>
      </nav>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">Setor</th>
            <th scope="col">Ativo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let colaborador of colaboradorList">
            <td>{{colaborador.id}}</td>
            <td>{{colaborador.nome}}</td>
            <td>{{colaborador.cargo.descricao}}</td>            
            <td>{{colaborador.setor.descricao}}</td>       
            <td>
              <input type="checkbox" checked="{{colaborador.ativo}}" formControlName="ativo" class="form-check-input" id="ativo">
            </td>
            <td>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editColaborador" (click)="editar(colaborador)">Editar</button>
              <button type="button" class="btn btn-outline-danger" (click)="deletar(colaborador)">Excluir</button>
            </td>
          </tr>    
        </tbody>
      </table>

    <!-- Add Modal -->
    <div class="modal fade" id="addColaborador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Adicionar Colaborador</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form [formGroup]="colaboradorDetalhe">

              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" formControlName="nome" class="form-control" id="nome" aria-describedby="emailHelp">            
              </div>

              <div class="mb-3">
                <label for="dataNascimento" class="form-label">Data de Nascimento</label>                                
                <input type="date" formControlName="dataNascimento" class="form-control" id="dataNascimento" aria-describedby="emailHelp"> 
              </div>

              <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" formControlName="cpf" class="form-control" id="cpf" aria-describedby="emailHelp">            
              </div>

              <div class="mb-3">
                <label for="cpf" class="form-label">Endereço</label>
                <input type="text" formControlName="cpf" class="form-control" id="cpf" aria-describedby="emailHelp">            
              </div>

              <div class="mb-3">
                <label for="idSetor" class="form-label">Setor</label>
                <select class="form-select" aria-label="Default select example" id="idSetor" formControlName="idSetor">
                    <option *ngFor="let setor of setoresAtivos | async" [value]="setor.id">{{setor.descricao}}</option>                  
                </select>
              </div>

              <div class="mb-3">
                <label for="idCargo" class="form-label">Cargo</label>
                <select class="form-select" aria-label="Default select example" id="idCargo" formControlName="idCargo">
                  <option *ngFor="let cargo of cargosAtivos | async" [value]="cargo.id">{{cargo.descricao}}</option>                  
                </select>
              </div>

              <div class="mb-3">
                <label for="idSuperiorImediato" class="form-label">Superior Imediato</label>
                <select class="form-select" aria-label="Default select example" id="idSuperiorImediato" formControlName="idSuperiorImediato" >                  
                  <option *ngFor="let superior of colaboradoresAtivos | async" [value]="superior.id">{{superior.nome}}</option>                
                </select>
              </div>

              <div class="mb-3 form-check">
                <input type="checkbox" formControlName="ativo" class="form-check-input" id="ativo">
                <label class="form-check-label" for="ativo">Ativo</label>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-outline-success" (click)="adicionar()" data-bs-dismiss="modal">Salvar</button>
              </div>

            </form>

          </div>
          
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editSetor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Editar Colaborador</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form [formGroup]="colaboradorDetalhe">

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" formControlName="nome" class="form-control" id="nome" aria-describedby="emailHelp">            
                  </div>
    
                  <div class="mb-3">
                    <label for="dataNascimento" class="form-label">Data de Nascimento</label>                                
                    <input type="date" formControlName="dataNascimento" class="form-control" id="dataNascimento" aria-describedby="emailHelp"> 
                  </div>
    
                  <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" formControlName="cpf" class="form-control" id="cpf" aria-describedby="emailHelp">            
                  </div>
    
                  <div class="mb-3">
                    <label for="cpf" class="form-label">Endereço</label>
                    <input type="text" formControlName="cpf" class="form-control" id="cpf" aria-describedby="emailHelp">            
                  </div>
    
                  <div class="mb-3">
                    <label for="Setor" class="form-label">Setor</label>
                    <select class="form-select" aria-label="Default select example" id="idSetor" formControlName="idSetor">
                      <option selected> -- Selecione -- </option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
    
                  <div class="mb-3">
                    <label for="Setor" class="form-label">Cargo</label>
                    <select class="form-select" aria-label="Default select example" id="idCargo" formControlName="idCargo">
                      <option selected> -- Selecione -- </option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
    
                  <div class="mb-3">
                    <label for="idSuperiorImediato" class="form-label">Superior Imediato</label>
                    <select class="form-select" aria-label="Default select example" id="idSuperiorImediato" formControlName="idSuperiorImediato">
                      <option selected> -- Selecione -- </option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
              
              <div class="mb-3 form-check">
                <input type="checkbox" formControlName="ativo" class="form-check-input" id="ativo">
                <label class="form-check-label" for="ativo">Ativo</label>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-out-line-success" (click)="atualizar()" data-bs-dismiss="modal">Salvar</button>
              </div>

            </form>

          </div>
          
        </div>
      </div>
    </div>
</div>